<nav id="navMain" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/file-list">Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/file-about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/file-setting">Settings</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" id="footer">
  <div class="container">
    Adam K. Monroe © 2020 - All Rights Reserved
  </div>
</nav>