/* You can add global styles to this file, and also import other style files */
#navMain {
  padding: 15px;
  font-size: large !important;
}

body {
  background-color: lightsteelblue;
  font-size: small;
  padding-bottom:70px;
}

#footer {
  color:white;
}
